<%- include('../partials/header.ejs') %>




    <!-- Página para mostrar os detalhes do produto -->

    <button type="button" class="btn btn-outline-primary" id="editar" onclick="habilitarInputs()">Editar
        produto</button>

    <form method="post" action="/produtos/edit/save/<%= produtos.id %>">
        <br>
        <div class="form-group">
            <label for="nomeProduto">Nome do Produto</label>
            <input name="nomeProduto" type="text" class="form-control" id="nomeProduto"
                value="<%= produtos.nomeProduto %>" disabled required>
        </div>
        <div class="form-group">
            <label for="marca">Marca</label>
            <input name="marca" type="text" class="form-control" id="marca"
                value="<%= produtos.marca %>" disabled >
        </div>
        <div class="form-group">
            <label for="unidadeMedida">Unidade de Medida:</label>
            <select name="unidadeMedida" class="form-control" id="unidadeMedida" disabled>
                <option value="kg">
                    <%= produtos.unidadeMedida %>
                </option>
                <option value="Unidade">Unidade</option>
                <option value="kg">kg</option>              
                <option value="Metro">Metro</option>
                <option value="Litro">Litro</option>
                <option value="Milheiro">Milheiro</option>
                <option value="Pacote">Pacote</option>
                <option value="Saco">Saco</option>
                <option value="duzia">Dúzia</option>
            </select>
        </div>
        <div class="form-group">
            <label for="quantidadeEstoque">Quantidade em Estoque</label>
            <input name="quantidadeEstoque" type="text" class="form-control" id="quantidadeEstoque"
                value="<%= produtos.quantidadeEstoque %>" disabled required>
        </div>
       


        <div class="form-group">
            <label for="valorCompra">Valor de Compra</label>
            <input name="valorCompra" type="text" class="form-control" id="valorCompra"
            value="<%= produtos.valorCompra.toLocaleString('pt-BR', {
                minimumFractionDigits: 2 }); %>" disabled required>
        </div>
        <div class="form-group">
            <label for="valorVenda">Valor de Venda</label>
            <input name="valorVenda" type="text" class="form-control" id="valorVenda" value="<%= produtos.valorVenda.toLocaleString('pt-BR', {
                minimumFractionDigits: 2 }); %>"
                disabled required>
        </div>
    
        <script>
            // Obtém os elementos de input
            const valorCompraInput = document.getElementById("valorCompra");
            const valorVendaInput = document.getElementById("valorVenda");
    
            // Adiciona um ouvinte de evento para verificar quando o valor de venda muda
            valorVendaInput.addEventListener("change", function() {
                const valorCompra = parseFloat(valorCompraInput.value);
                const valorVenda = parseFloat(valorVendaInput.value);
    
                // Verifica se o valor de venda é menor que o valor de compra
                if (valorVenda < valorCompra) {
                    alert("O valor de venda não pode ser menor ou igual ao valor de compra.");
                    valorVendaInput.value = ""; // Limpa o campo de valor de venda
                }
            });
        </script>

        

        
        <div class="form-group">
            <label for="observacoes">Observações</label>
            <textarea name="observacoes" class="form-control" id="observacoes" rows="3"
                disabled><%= produtos.observacoes %></textarea>
        </div>
        <br>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success">Salvar edição</button>
        </div>
    </form>
    <form id="deleteForm" action="/produtos/del/<%=  produtos.id %>" method="get">
            <input name="IDpedido" type="number" value="<%=  %>" style="display:none;">
            <button id="deleteButton" type="button" class="btn btn-danger">Deletar</button>
        </form>
    </div>
    <div class="col d-flex justify-content-between">
    

    <!-- Script para habilitar os inputs -->
    <script>
        function habilitarInputs() {
            // Seleciona todos os inputs da página
            const inputs = document.querySelectorAll('input');
            const textarea = document.querySelector('textarea');
            const botaoSalvar = document.querySelector('.btn-success');
            const botaoDeletar = document.querySelector('.btn-danger');
            const select = document.querySelector('select');

            // Habilita ou desabilita os inputs e a textarea
            inputs.forEach(input => input.disabled = !input.disabled);
            textarea.disabled = !textarea.disabled;
            select.disabled = !select.disabled;

            if (!textarea.disabled) {
                botaoSalvar.style.display = 'block';
                botaoDeletar.style.display = 'none';
            } else {
                botaoSalvar.style.display = 'none';
                botaoDeletar.style.display = 'block';
            }
        }
    </script>
    <script>  // confirmar antes de deletar -> envia para o script.js (SweetAlert2)
        document.getElementById('deleteButton').addEventListener('click', function () {
            Alerta();
        });
    </script>
    <style>
        .btn-success {
            display: none;
        }
    </style>







    <%- include('../partials/footer.ejs') %>