<%- include('../partials/header.ejs') %>




    <!-- Página para mostrar os detalhes do produto -->

    <button type="button" class="btn btn-outline-primary" id="editar" onclick="habilitarInputs()">Editar
        cliente</button>

    <form method="post" action="/cliente/edit/save/<%= cliente.id %>">
        <br>
        <div class="form-group">
            <label for="nomeProduto">Nome do cliente</label>
            <input name="nome" type="text" class="form-control" value="<%= cliente.nome %>" disabled required>
        </div>

        <div class="form-group">
            <label for="telefone">Telefone</label>
            <input name="telefone" type="text" class="form-control telefone" required value="<%= cliente.telefone %>"
                disabled>
        </div>
        <div class="form-group">
            <label for="cep">CEP</label>
            <input name="cep" type="text" class="form-control cep" value="<%= cliente.cep %>" disabled>
        </div>
        <div class="form-group">
            <label for="rua">Rua</label>
            <input name="rua" type="text" class="form-control" required value="<%= cliente.rua %>" disabled>
        </div>
        <div class="form-group">
            <label for="numero">Número</label>
            <input name="numero" type="text" class="form-control" required value="<%= cliente.numero %>" disabled>
        </div>
        <div class="form-group">
            <label for="bairro">Bairro</label>
            <input name="bairro" type="text" class="form-control" required value="<%= cliente.bairro %>" disabled>
        </div>
        <div class="form-group">
            <label for="cidade">Cidade</label>
            <input name="cidade" type="text" class="form-control" value="<%= cliente.cidade %>" disabled>
        </div>

        <div class="form-group">
            <label for="observacoes">Observações</label>
            <textarea name="observacoes" class="form-control" rows="3" disabled><%= cliente.observacoes %></textarea>
        </div>
        <br>
        <input name="id_cliente" type="number" value="<%= cliente.id %>" style="display:none ;">
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success" id="btn_salvar">Salvar edição</button>
        </div>
    </form>

    <div class="col d-flex justify-content-between">
        <form id="deleteForm" action="/cliente/del/<%= cliente.id %>" method="get">
            <button id="deleteButton" type="button" class="btn btn-danger">Deletar</button>
        </form>
    </div>


    <script>  // confirmar antes de deletar -> envia para o script.js (SweetAlert2)
        document.getElementById('deleteButton').addEventListener('click', function () {
            Alerta();
        });
    </script>

    <!-- Script para habilitar os inputs -->
    <script>
        function habilitarInputs() {
            // Seleciona todos os inputs da página
            const inputs = document.querySelectorAll('input');
            const textarea = document.querySelector('textarea');
            const botaoSalvar = document.querySelector('#btn_salvar');
            const botaoDeletar = document.querySelector('.btn-danger');

            // Habilita ou desabilita os inputs e a textarea
            inputs.forEach(input => input.disabled = !input.disabled);
            textarea.disabled = !textarea.disabled;

            if (!inputs[0].disabled) {
                botaoSalvar.style.display = 'block';
                botaoDeletar.style.display = 'none';
            } else {
                botaoSalvar.style.display = 'none';
                botaoDeletar.style.display = 'block';
            }
        }

        $(document).ready(function () {
            $('#telefone').mask('(00) 0000-0000');
        });

        $(document).ready(function () {
            $('#cep').mask('00000 - 000');
        });

    </script>
    <style>
        #btn_salvar {
            display: none;
        }
    </style>


    <%- include('../partials/footer.ejs') %>