<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Impressão</title>
  <style>
    @media print {
      body {
        font-family: Arial, sans-serif;
        font-size: 10px;
        margin: 0;
        padding: 1px;
      }

      .container {
        width: 70mm;
        padding: 5px;
        margin-left: 1px; /* Garante alinhamento à esquerda */
      }

  

      .content {
        margin-bottom: 10px;
      }

      .footer {
        text-align: center;
        margin-top: 10px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      th,
      td {
        /* border: 1px solid black; */
        padding: 5px;
        text-align: left;
      }

      .total-row td {
        /* border-top: 2px solid black; */
        text-align: left;
      }
    }

    .container {
        font-size: 14px;      
        /* text-align: center; */
      }
  </style>
</head>

<body>
  <div class="container">
    <div class="header">
      <h2>**ORÇAMENTO**</h2>
      <p>
        <strong style="font-size: 20px;">
        -  <%= user.nome %>
        </strong></br>
       - CNPJ: <strong>
          <%= user.cnpj %>
        </strong> </br>
       - Telefone: <strong>
          <%= user.telefone %>
        </strong> </br>
       - Endereço: <%= user.rua %>
          <%= user.bairro %>
            <%= user.cidade %></br>
             - <%= user.uf %>
      </p>
    </div>
    <div class="content">
      <% if (typeof cliente !=='undefined' && cliente !==null && cliente !=='' ) { %>
        <strong>Informações do Cliente:</strong>
        </br
          <strong>-Nome:</strong>
          <%= cliente.nome %><br>
            <strong>-Telefone:</strong>
            <%= cliente.telefone %><br>
              <strong>-Rua:</strong>
              <%= cliente.rua %><br>
                <strong>-Número:</strong>
                <%= cliente.numero %><br>
                  <strong>-CEP:</strong>
                  <%= cliente.cep %><br>
                    <strong>-Bairro:</strong>
                    <%= cliente.bairro %><br>
                      <strong>-Cidade:</strong>
                      <%= cliente.cidade %> 
                        <!-- <strong>Observações:</strong> <%= cliente.observacoes %> -->
      
        <% } %>
          <% if (typeof itemPedido !=='undefined' ) { %>
            <table>
              <thead>
                <tr>
                  <th>Produto</th>
                  <!-- <th style="text-align: center;"> Medida</th> -->
                  <th>QNT</th>
                  <th>Valor</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <% itemPedido.forEach(item=> { %>
                  <tr>
                    <td>
                      <%= item.nome %>
                    </td>
                    <!-- <td style="text-align: center;">
                      <%= item.undMedidas %>
                    </td> -->
                    <td  >
                      <%= item.quant_itens %>
                    </td>
                    <td>
                      <%= item.valor_unitario.toLocaleString('pt-BR', { minimumFractionDigits: 2 }); %>
                    </td>
                    <td >
                      <%= item.sub_total_itens.toLocaleString('pt-BR', { style: 'currency' , currency: 'BRL' }) %>
                    </td>
                  </tr>
                  <% }) %>
                    <tr class="total-row">
                      <td colspan="3">Valor total do pedido:</td>
                      <td  >
                        <%= pedido.valor_total_pedido.toLocaleString('pt-BR', { style: 'currency' , currency: 'BRL' })
                          %>
                      </td>
                      </br></br></br>
                    </tr>
              </tbody>
            </table>
            <!-- <div style="
            background-color: blue;
            width: 48mm;
            ">dlsakldjlas</div> -->
            <% } %>

            <div class="footer">
              <br>
              <p>Data de emissão: <%= new Date().toLocaleDateString('pt-BR') %></p>
              <h6>Agradecemos a preferência.</h6>
            </div>
    </div>
  </div>
</body>

</html>
