<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Impressão</title>
  <style>
    @media print {
      body {
        font-family: Arial, sans-serif;
        font-size: 9px; /* Reduzi o tamanho da fonte */
        margin: 0;
        padding: 1px;
        line-height: 1.0; /* Reduzi o espaçamento entre linhas */
      }

      .container {
        width: 70mm;
        padding: 3px; /* Reduzi o padding */
        margin-left: 1px;
      }

      .header {
        page-break-after: avoid; /* Evita quebra após o cabeçalho */
      }

      .content {
        margin-bottom: 5px; /* Reduzi a margem */
        page-break-before: avoid; /* Evita quebra antes do conteúdo */
      }

      .footer {
        text-align: center;
        margin-top: 5px; /* Reduzi a margem */
      }

      .logo {
        text-align: center;
        margin-top: 5px; /* Reduzi a margem */
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 5px; /* Reduzi a margem */
        page-break-inside: avoid; /* Impede que a tabela quebre */
      }

      th,
      td {
        padding: 3px; /* Reduzi o padding */
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      th {
        background-color: #f2f2f2;
        font-weight: bold;
      }

      .total-row td {
        border-top: 2px solid black;
        text-align: left;
        font-weight: bold;
      }

      table td:nth-child(3),
      table td:nth-child(4) {
        text-align: right;
      }

      table td:nth-child(2) {
        padding-right: 5px; /* Reduzi o padding */
      }

      tr {
        page-break-inside: avoid;
        page-break-before: auto;
        page-break-after: auto;
      }

      table td:nth-child(1) {
        width: 40%; /* Ajustei a largura da coluna */
        word-break: break-word;
      }
    }

    .container {
      font-size: 12px;
      margin-left: 5px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="logo">
        <h2>ORÇAMENTO</h2>
        <img src="https://th.bing.com/th/id/OIP.vgTSgC1L4U37OuQdV7jdEwHaG_?w=1984&h=1871&rs=1&pid=ImgDetMain" style="height: 80px;width: 80px;" >
      </div>
      <p>
        <strong style="font-size: 18px;">
          <%= user.nome %>
        </strong></br>
        <strong>
          <%= user.cnpj %>
        </strong> </br>
        <strong>
          <%= user.telefone %>
        </strong> </br>
        <%= user.rua %>
          <%= user.bairro %>
            </br>
            <%= user.cidade %>
              <%= user.uf %>
      </p>
    </div>
    <div class="content">
      <% if (typeof cliente !=='undefined' && cliente !==null && cliente !=='' ) { %>
        <strong>Informações do Cliente:</strong>
        </br>
        <%= cliente.nome %><br>
          <%= cliente.telefone %><br>
            <%= cliente.rua %><br>
              <%= cliente.numero %><br>
                <%= cliente.cep %><br>
                  <%= cliente.bairro %><br>
                    <%= cliente.cidade %>
                      <% } %>
                        <% if (typeof itemPedido !=='undefined' ) { %>
                          <table>
                            <thead>
                              <tr>
                                <th>Produto</th>
                                <th>QNT</th>
                                <th>Valor</th>
                                <th>Total</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% itemPedido.forEach(item=> { %>
                                <tr>
                                  <td>
                                    <%= item.nome %>
                                  </td>
                                  <td style="text-align: center;">
                                    <%= item.quant_itens %>
                                  </td>
                                  <td>
                                    <%= item.valor_unitario.toLocaleString('pt-BR', { minimumFractionDigits: 2 }); %>
                                  </td>
                                  <td>
                                    <%= item.sub_total_itens.toLocaleString('pt-BR', { style: 'currency' ,
                                      currency: 'BRL' }) %>
                                  </td>
                                </tr>
                                <% }) %>
                                  <tr class="total-row">
                                    <td colspan="3">Valor total do pedido:</td>
                                    <td>
                                      <%= pedido.valor_total_pedido.toLocaleString('pt-BR', { style: 'currency' ,
                                        currency: 'BRL' }) %>
                                    </td>
                                  </tr>
                            </tbody>
                          </table>
                          <% } %>

                            <div class="footer">
                              <br>
                              <p>Data de emissão: <%= new Date().toLocaleDateString('pt-BR') %>
                              </p>
                              <h6>Agradecemos a preferência.</h6>
                            </div>
    </div>
  </div>
</body>

</html>