<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Impressão</title>
  <style>
    @media print {
      body {
        font-family: Arial, sans-serif;
        font-size: 10px;
        margin: 0;
        padding: 1px;
      }

      .container {
        width: 70mm;
        padding: 5px;
        margin-left: 1px;
        /* Garante alinhamento à esquerda */
      }

      .content {
        margin-bottom: 10px;
      }

      .footer {
        text-align: center;
        margin-top: 10px;
      }

      .logo {
        text-align: center;
        margin-top: 10px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 10px;
        /* Adiciona espaço abaixo da tabela */
      }

      th,
      td {
        padding: 5px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        /* Linhas horizontais sutis */
      }

      th {
        background-color: #f2f2f2;
        /* Cor de fundo para o cabeçalho */
        font-weight: bold;
      }

      .total-row td {
        border-top: 2px solid black;
        /* Linha mais grossa no total */
        text-align: left;
        font-weight: bold;
        /* Total em negrito */
      }

      /* Alinha os valores das colunas QNT, Valor e Total à direita */
      table td:nth-child(3),
      table td:nth-child(4) {
        text-align: right;
      }

      /* Adiciona espaço extra à direita da coluna QNT */
      table td:nth-child(2) {
        padding-right: 10px;
      }


      /* Impede que a tabela quebre entre as páginas */
      table {
        page-break-inside: avoid;
      }

      /* Impede que as linhas da tabela quebrem entre as páginas */
      tr {
        page-break-inside: avoid;
        page-break-after: auto;
      }
    }

    .container {
      font-size: 12px;
      margin-left: 5px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="header">

      <div class="logo">
        <h2>ORÇAMENTO</h2>
        <img src="https://th.bing.com/th/id/OIP.vgTSgC1L4U37OuQdV7jdEwHaG_?w=1984&h=1871&rs=1&pid=ImgDetMain" style="height: 100px;width: 100px;" >
        
      </div>

      <p>
        <strong style="font-size: 20px;">
          <%= user.nome %>
        </strong></br>
        <strong>
          <%= user.cnpj %>
        </strong> </br>
        <strong>
          <%= user.telefone %>
        </strong> </br>
        <%= user.rua %>
          <%= user.bairro %>
            </br>
            <%= user.cidade %>
              <%= user.uf %>
      </p>
    </div>
    <div class="content">
      <% if (typeof cliente !=='undefined' && cliente !==null && cliente !=='' ) { %>
        <strong>Informações do Cliente:</strong>
        </br>

        <%= cliente.nome %><br>

          <%= cliente.telefone %><br>

            <%= cliente.rua %><br>

              <%= cliente.numero %><br>

                <%= cliente.cep %><br>

                  <%= cliente.bairro %><br>

                    <%= cliente.cidade %>
                      <!-- <strong>Observações:</strong> <%= cliente.observacoes %> -->

                      <% } %>
                        <% if (typeof itemPedido !=='undefined' ) { %>
                          <table>
                            <thead>
                              <tr>
                                <th>Produto</th>
                                <th>QNT</th>
                                <th>Valor</th>
                                <th>Total</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% itemPedido.forEach(item=> { %>
                                <tr>
                                  <td>
                                    <%= item.nome %>
                                  </td>
                                  <td style="text-align: center;">
                                    <%= item.quant_itens %>
                                  </td>
                                  <td>
                                    <%= item.valor_unitario.toLocaleString('pt-BR', { minimumFractionDigits: 2 }); %>
                                  </td>
                                  <td>
                                    <%= item.sub_total_itens.toLocaleString('pt-BR', { style: 'currency' ,
                                      currency: 'BRL' }) %>
                                  </td>
                                </tr>
                                <% }) %>
                                  <tr class="total-row">
                                    <td colspan="3">Valor total do pedido:</td>
                                    <td>
                                      <%= pedido.valor_total_pedido.toLocaleString('pt-BR', { style: 'currency' ,
                                        currency: 'BRL' }) %>
                                    </td>
                                  </tr>
                            </tbody>
                          </table>
                          <% } %>

                            <div class="footer">
                              <br>
                              <p>Data de emissão: <%= new Date().toLocaleDateString('pt-BR') %>
                              </p>
                              <h6>Agradecemos a preferência.</h6>
                            </div>
    </div>
  </div>
</body>

</html>