<%- include('../partials/header.ejs') %>

    <p class="fs-3">Tela de entregas
        <img src="/img/caminhao.gif" style="width: 40px; height: 40px;">
    </p>

    <%- include('../partials/msg.ejs') %>

    <form action="/entrega/entregue" method="get">
<button type="submit" class="btn btn-outline-secondary">Visualizar pedidos entregues</button>  
</form> 
</br>

    <table class="table table-hover table-bordered">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Status</th>
                <th>Data</th>
                <th>Valor</th>
                <th  class="text-center align-middle">Detalhes</th>
            </tr>
        </thead>
   <!-- lista todos as vendas  -->
    <% venda_finalizada.forEach(venda=> { %> 
      <!-- lista todos os itens -->
      <% pedido.forEach(pedido=> { %>
        <!-- verifica se a venda pertence ao id pedido -->
        <% if( pedido.id == venda.id_pedido   ) {   %>

				<tbody>
					<tr>
                        <td data-toggle="modal" class="align-middle">
							<%= pedido.num_pedido %>
						</td>
                        <td data-toggle="modal" class="align-middle">               
                            <% cliente.forEach(cliente=> { %>                           
                                <% if( pedido.cliente_pedido == cliente.id   ) {   %>
                                    <%= cliente.nome %>
                                    <% } %>
                                 <% }); %>
                           </td>
						   <td data-toggle="modal" class="align-middle">
						Falta entregar
						</td>
                        <td data-toggle="modal" class="align-middle">
                            <!-- data sem fusorário -->
                            <%= moment.utc(venda.data_entrega).format('DD/MM/YYYY') %>  
						</td>
                        <td data-toggle="modal" class="align-middle">
							<%= venda.valor_total_venda.toLocaleString('pt-BR', { style: 'currency' ,
                            currency: 'BRL' }) %> %>
						</td>
                       
                        <td data-toggle="modal"  class="text-center align-middle">
							<a href="/entrega/ver/ <%= pedido.id %>">
								<button type="button" class="btn btn-outline-success btn-sm">
                                    <i class="bi bi-eye"> </i>Visualizar</button>
							</a>
						</td>
					</tr>
                   
				</tbody>
				
                <% } %>

            <% }); %>

        <% }); %>
		</table>


















       <%- include('../partials/footer.ejs') %>