<%- include('../partials/header.ejs') %>


    <div class="d-flex justify-content-between align-items-center">
        <p class="fs-3">Entrega</p>
        <button onclick="imprimirTela()" class="btn btn-link">
            <i class="bi bi-printer" style="font-size: 2rem;"></i>
        </button>
    </div>




    <%- include('../partials/msg.ejs') %>
        <% let somaTotal=0; %>




            <% if (typeof cliente !=='undefined' && cliente !==null && cliente !=='' ) { %>


                <h6>
                    <strong>Nome:</strong>
                    <%= cliente.nome %> <br>
                        <strong>Telefone:</strong>
                        <%= cliente.telefone %><br>
                            <strong>Rua:</strong>
                            <%= cliente.rua %>
                                <strong style="margin-left: 20px;">Número:</strong>
                                <%= cliente.numero %> <br>
                                    <strong>CEP:</strong>
                                    <%= cliente.cep %>
                                        <strong style="margin-left: 20px;">Bairro:</strong>
                                        <%= cliente.bairro %>
                                            <strong style="margin-left: 20px;">Cidade:</strong>
                                            <%= cliente.cidade %> <br>
                                                <strong>Observações:</strong>
                                                <%= cliente.observacoes %>
                </h6>

                <%}else {%>

                    <!-- botão adicionar cliente mostra o formulario -->
                    <div>
                        <button class="btn btn-outline-primary" onclick="mostrarForm()">Adicionar
                            cliente</button>

                    </div>

                    <%}%>

                        <form action="/entrega/buscar/cliente" method="POST" id="formCliente" style="display: none;">
                            <input name="id_pedido" type="number" value="<%= pedido.id %>" style="display: none;">
                            <label for="search-input">Pesquisar cliente</label>
                            <div class="input-group">
                                <input name="busca" type="text" class="form-control" id="search-input"
                                    placeholder="Digite o nome do cliente">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-outline-primary" style="margin-left: 10px;">
                                        <span class="bi bi-person"></span> Buscar cliente
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- lista os clientes para selecionar -->
                        <% if (typeof clientes !=='undefined' ) { %>
                            <table class="table table-hover table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Nome</th>
                                        <th class="text-center align-middle">Telefone</th>
                                        <th class="text-center align-middle">Rua</th>
                                        <th class="text-center align-middle">Bairro</th>
                                        <th class="text-center align-middle">Cidade</th>
                                        <th class="text-center align-middle">Detalhes</th>
                                    </tr>
                                </thead>
                                <!-- Inicio do forEach-->
                                <% clientes.forEach(client=> { %>
                                    <tbody>
                                        <tr>
                                            <td data-toggle="modal" class="align-middle">
                                                <%= client.nome %>
                                            </td>
                                            <td class="text-center align-middle">
                                                <%= client.telefone %>
                                            </td>

                                            <td class="text-center align-middle">
                                                <%= client.rua %>
                                            </td>
                                            <td class="text-center align-middle">
                                                <%= client.bairro %>
                                            </td>
                                            <td class="text-center align-middle">
                                                <%= client.cidade %>
                                            </td>
                                            <th class="text-center align-middle">
                                                <form action="/entrega/cliente/add_novo" method="post"
                                                    class="d-inline-block mr-2">
                                                    <!--inicio do formulario inserindo produto-->
                                                    <input name="id_cliente" type="text" value="<%= client.id %>"
                                                        style="display:none;" />
                                                    <input name="id_pedido" type="number" value="<%= pedido.id %>"
                                                        style="display:none;" />
                                                    <button type="submit" class="btn btn-success">Adicionar
                                                        cliente</button>
                                                </form> <!--fim do formulario-->

                                            </th>

                                        </tr>
                                    </tbody>
                                    <% }) %>
                            </table>
                            <% } %>

                                <br>
                                <!-- lista de produtos / editando quantidades -->
                                <% if (typeof itemPedido !=='undefined' ) { %>
                                    <table class="table table-hover table-bordered" >
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Nome</th>
                                                <th class="center">Medida</th>
                                                <th class="center">Quantidade</th>
                                                <th class="center">Valor</th>
                                                <th class="center">Total</th>
                                            </tr>
                                        </thead>
                                        <!-- Inicio do forEach-->
                                        <% itemPedido.forEach(item=> { %>
                                            <tbody>
                                                <tr>
                                                    <td data-toggle="modal">
                                                        <%= item.nome %>
                                                    </td>
                                                    <td class="center">
                                                        <%= item.undMedidas %>
                                                    </td>
                                                    <td class="center input">
                                                        <%= item.quant_itens %>
                                                    </td>
                                                    <td class="center">
                                                        <%= item.valor_unitario.toLocaleString('pt-BR', {
                                                            minimumFractionDigits: 2 }); %>
                                                    </td>

                                                    </form>

                                                    <td class="center">
                                                        <%= item.sub_total_itens.toLocaleString('pt-BR', {
                                                            style: 'currency' , currency: 'BRL' }) %>
                                                    </td>
                                                    </th>
                                                </tr>
                                            </tbody>
                                            <% }) %> <!--fim do loop itens-->
                                    </table>

                                    <div class="text-right">
                                        <!-- Acesso à somaTotal fora do loop forEach -->
                                        <p>Total da compra: <%= venda.valor_total_venda.toLocaleString('pt-BR', {
                                                style: 'currency' , currency: 'BRL' }) %>
                                        </p>
                                        <% } %> <!--fim do if pra verificar se há itens-->

                                            <form method="post" action="/entrega/obs">
                                                <div class="form-group" id="dataEntregaDiv">
                                                    <label for="data_entrega">Data da entrega: </label>
                                                    <input name="data_entrega" type="date" class="form-control"
                                                        value="<%= moment.utc(venda.data_entrega).format('YYYY-MM-DD') %>"
                                                        min="<%= moment().format('YYYY-MM-DD') %>">
                                                </div>
                                                <div class="form-floating">
                                                    <textarea name="obs" class="form-control"
                                                        placeholder="Leave a comment here" id="floatingTextarea2"
                                                        style="height: 100px"> <%= venda.obs %></textarea>
                                                    <label for="floatingTextarea2">Observações: </label>
                                                </div>
                                                <br>
                                                <input name="id_pedido" type="number" value="<%= pedido.id %>"
                                                    style="display: none;">
                                                <div class="row">
                                                    <div class="col d-flex justify-content-between">
                                                        <button type="submit" class="btn btn-primary">Salvar alterações
                                                        </button>
                                            </form>
                                            <form method="post" action="/entrega/entregue">
                                                <input name="id_venda" type="number" value="<%= venda.id %>"
                                                    style="display: none;">
                                                <button type="submit" class="btn btn-success  confirm">Mudar status para
                                                    entregue</button>
                                            </form>

                                    </div>
                                    </div>


                                    <script>  // confirmar antes de confirmar -> envia para o script.js (SweetAlert2)
                                        const deleteButtons = document.querySelectorAll('.confirm');
                                        deleteButtons.forEach(button => {
                                            button.addEventListener('click', function (event) {
                                                event.preventDefault();
                                                Confirm(this.form);
                                            });
                                        });
                                    </script>

                                    <script>
                                        function mostrarForm() {
                                            const formCliente = document.querySelector('#formCliente');
                                            const formProduto = document.querySelector('#formProduto');

                                            // Verifica se o elemento está visível ou oculto
                                            if (formCliente.style.display === 'none') {
                                                // Se estiver oculto, exibe o elemento
                                                formCliente.style.display = 'block';
                                            } else {
                                                // Se estiver visível, oculta o elemento
                                                formCliente.style.display = 'none';
                                            }

                                            // Verifica se o elemento está visível ou oculto
                                            if (formProduto.style.display === 'none') {
                                                // Se estiver oculto, exibe o elemento
                                                formProduto.style.display = 'block';
                                            } else {
                                                // Se estiver visível, oculta o elemento
                                                formProduto.style.display = 'none';
                                            }
                                        }

                                    </script>

                                    <script>
                                        function imprimirTela() {
                                            window.print();
                                        }
                                    </script>

                                    <style>
                                        /* oculta menu ao imprimir */
                                        @media print { 
                                            .menu {
                                                display: none;                                              
                                            }
                                           
                                        }

                                        .cliente {
                                            margin-right: 30px;
                                        }

                                        .id {
                                            display: none;
                                        }

                                        .center {
                                            text-align: center;
                                            padding: 5px;
                                        }

                                        .meu-input {
                                            /* Adicione estilos aqui */
                                            width: 100px;
                                            padding: 5px;
                                            border: 1px solid #ccc;
                                            border-radius: 5px;
                                            text-align: center;
                                        }

                                        td {

                                            align-items: center;

                                        }
                                    </style>

                                    <!-- Script para habilitar os inputs -->





                                    <%- include('../partials/footer.ejs') %>