<%- include('../partials/header.ejs') %>
	<p class="fs-3">Controle Financeiro</p>
	<%- include('../partials/msg.ejs') %>

		<div class="container mt-5" id="informacao">
			<div class="row">
				<div class="col-md-8">
					<!-- Informações do Usuário -->
					<div class="card">

						<div class="card-body">
							<!-- <h5 class="card-title">Descrição:</h5> -->
							<p class="card-text">
								<%= controle.nome%>
							</p>
							<!-- <h5>Status:</h5> -->
							<% if( controle.status===0){ %>
								<p class="card-text">
									Falta pagar
								</p>
								<% } else { %>
									Pago
									<% } %>
										<!-- <h5 class="card-title">Data de vencimento:</h5> -->
										<p class="card-text">
											Data de vencimento: <%= moment.utc(controle.vencimento).format('DD/MM/YYYY')
												%>
										</p>
										<!-- <h5 class="card-title">Valor:</h5> -->
										<p class="card-text">
											<%= controle.valor.toLocaleString('pt-BR', { style: 'currency' ,
												currency: 'BRL' }) %>
										</p>
										<!-- <h5 class="card-title">Observações:</h5> -->
										<p class="card-text">
											<%= controle.obs %>
										</p>
										<button type="button" class="btn btn-outline-primary" id="editar"
											onclick="mostrarFormulario()">Editar
											conta</button>
						</div>
					</div>
				</div>
			</div>
		</div>



		<!-- Formulário de edição (inicialmente oculto) -->
		<form method="post" action="/financeiro/contas/edit" id="formularioEdicao" style="display: none;">
			<input type="nunber" name="id" value="<%= controle.id%>" style="display: none;">
			<div class="mb-3 row">

				<div class="col-sm-4">
					<label for="nome" class="form-label">Descrição</label>
					<input type="text" class="form-control" id="nome" name="nome" value="<%= controle.nome%>">
				</div>
				<!-- <div class="col-sm-4">
					<label for="nome" class="form-label">Status</label>
					<% if( controle.status===0){ %>
						<input type="text" class="form-control" id="status" name="status" value="Falta pagar" >
						<% } else { %>
							<input type="text" class="form-control" id="status" name="status" value="Paga" >
							<% } %>
				</div> -->
				<div class="col-sm-4">
					<label for="dataVencimento" class="form-label">Data de vencimento</label>
					<input type="date" class="form-control" id="dataVencimento" name="vencimento"
						value="<%= moment.utc(controle.vencimento).format('YYYY-MM-DD') %>">
				</div>

				<div class="col-sm-4">
					<label for="valor" class="form-label">Valor</label>
					<input type="text" class="form-control" id="valor" name="valor"
						value="<%= controle.valor.toLocaleString('pt-BR', {minimumFractionDigits: 2 })  %>">
				</div>

			</div>
			<div class="col-sm-4">

			</div>
			<div class="mb-3 row">
				<div class="col-sm-4">
					<label for="observacoes">Observações</label>
					<textarea name="obs" class="form-control" id="obs" rows="3"><%= controle.obs %></textarea>
				</div>
			</div>

			<div class="row">
				<div class="col d-flex justify-content-between">
					<button type="submit" class="btn btn-success">Salvar edição</button>
		</form>
		<form id="deleteForm" action="/financeiro/contas/delete/<%=  controle.id %>" method="get">
			<button type="submit" class="btn btn-danger confirm-delete">
				<i class="bi bi-trash"> </i>Deletar</button>
		</form>
		</div>
		</div>









		<script>
			function mostrarFormulario() {
				// Seleciona o formulário de edição
				const formulario = document.getElementById('formularioEdicao');
				const informacao = document.getElementById('informacao')
				// Altera o estilo para exibir o formulário	
				if (formulario.style.display = 'none') {
					formulario.style.display = 'block';
					informacao.style.display = 'none'
				}

			}
		</script>


		<script>  // confirmar antes de deletar -> envia para o script.js (SweetAlert2)
			const deleteButtons = document.querySelectorAll('.confirm-delete');
			deleteButtons.forEach(button => {
				button.addEventListener('click', function (event) {
					event.preventDefault();
					AlertaClass(this.form);
				});
			});
		</script>



		<%- include('../partials/footer.ejs') %>